#block-info {

}

#block-info .property {
	box-sizing: border-box;
	padding: 5px;
}

#block-info .property .point {
	margin-right: 5px;
	color: #dcdcdc;
}

#block-info .property .transactions {
	display: flex;
	flex-direction: column;
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}
